.primary {
  background: #fff;
  border: .1rem solid var(--primaryColor);
  border-radius: .5rem;
  color: var(--primaryColor);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 9.8rem;
  height: 3.5rem;
  cursor: pointer;
}
