.contactBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.contactBox h1 {
  text-align: center;
  font-size: 5rem;
  color: var(--primaryColor);
}

.social a{
  font-size: 2.2rem;
  margin: 0 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  width: 100%;
  height: 85vh;
}

.field {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: var(--backColor);
  padding: 2rem;
  border-radius: 1rem;
  
}

.info {
  font-size: 1.6rem;
  font-weight: 400;
}

.inputField {
  border: none;
  outline: none;
  box-shadow: none;
  
}


.message {
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  resize: none;
  border: none;
}

.message:focus{
  outline: none;

}

.field button {
  background-color: var(--primaryColor);
  color: white;
  margin: 1.5rem;
}

.contact {
  font-size: 1.5rem;
  background-color: var(--primaryColor);
  color: white;
  line-height: 4rem;
  width: 40%;
  height: 100%;
  margin-left: 1rem;
  border-radius: 1rem;
  position: relative;
}


.details{
  padding: 2rem 1rem;
}


.map{
  position: absolute;
  height: 275px;
  width: 100%;
  border: 0;
  bottom: 0;
}


@media screen and (max-width: 991px){


  .contactBox h1{
    margin-bottom: 10rem;
  }
  .container{
    flex-direction: column;

  }

  .field{
    width: 100%;
    height: 100%;
  }

  .contact{
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .map{
    position: absolute;
    height: 100%;
    width: 50%;
    border: 0;
    bottom: 0;
    right: 0;
    
  }
}


